* { 
    
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(laptop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(laptop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: serif;
    font-size: 18px;   
    
}


.main-nav {
    list-style: none;
    margin-top: 20px;

}

.main-nav li {
    display: inline-block;
    margin-left: 10px;
    font-size: 90%;
}

.heading {
    justify-self: center;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;   
}

a {
    color: greenyellow;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px 0px;
}

.project h1 {

    margin-bottom: 10px;
    font-size: 100%;
    color: white;
    padding-top: 20px;
    justify-self: center;
}

.body {
    justify-self: center;
    margin-bottom: 60px;
}

.techs {
    color: white;
    padding-bottom: 12px;
}
    

    
.container a:hover {
    color: gray;
    text-decoration: none;
}   
    
@media only screen and (min-width: 700px) {
    .heading {
        justify-self: center;
        margin-right: 60px;
        font-size: 140%;
    }

    .main-nav li {
        margin-left: 40px;
    }
    
    .body {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-gap: 30px 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        font-size: 130%;
    }
    .heading {
        font-size: 110%;
        justify-self: end;
    }

    .main-nav li {
        margin-left: 40px;
        margin-top: 30px;
    }

    .body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px 50px;
       
}

    

    
    
    